@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

:root {
    --color-primary: #9D63EA;
    --color-primary-hover: #8831fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s ease;
}

html {
    font-family: 'Montserrat';
    color: #2B2B2B;
    scroll-behavior: smooth;
}

h1,
h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-primary);

}

h1 {
    font-size: 38px;

}

h2 {
    font-size: 27px;
}

.container {
    padding: 0 60px;
    max-width: calc(1160px + (60px * 2));
    width: 100%;
    margin: 0 auto;

}

.header .btn {
    text-wrap: nowrap;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    height: 37px;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: background-color .3s ease, color .3s ease;
    border-radius: 10px;
}

.btn-size-l {
    width: 100%;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 15px;
    padding-right: 9px;
}

.btn-size-l::after {
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    background: url('../images/icons/Arrow-rigth.svg') 50% / contain no-repeat;
}

.btn-primary {
    color: #F5F7FA;
    background-color: var(--color-primary);
}

.btn-second {
    color: #2B2B2B;
    background: #F2E9FF;
    padding: 5px 30px;
}

.btn-second:hover {
    background: #c4a3f3;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.header {
    padding: 17px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 0px #00000021;


}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    width: 312px;
    display: block;
    height: 32px;
    background: url('../images/logo.svg') 50% / contain no-repeat;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav__item {
    font-weight: 500;
    font-size: 14px;
    padding-right: 10px;
    position: relative;
}

.header-nav__item:hover {
    color: var(--color-primary);
}

.header-nav__item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 4px;
    bottom: 4px;
    width: 1px;
    background-color: #2B2B2B;
}

.header-nav__item:last-child {
    padding-right: 0;
}

.header-nav__item:last-child:after {
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 52px;
}

.hero {
    padding-top: 110px;
    position: relative;
    z-index: 2;
    padding-bottom: 23px;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    height: 71%;
    z-index: -5;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(0deg, #F2E9FF, #F2E9FF);

}

.hero-img {
    position: absolute;
    top: 47px;
    bottom: 0;
    right: 57.5%;
    z-index: -1;
    width: auto;


    aspect-ratio: 1 / 0.93;

    background: url('../images/hero_bg.png')50% / contain no-repeat;
}

.score-container {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin-top: 19px;
}

.score-item {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #9D63EA;
    padding: 5px 4px;
    border-radius: 5px;
    border: 1px solid #9D63EA;
}

.hero-content {
    max-width: 680px;
    width: 53vw;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-left: auto;
}

.hero-content__info {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.hero-text {
    font-weight: 500;
    font-size: 18px;
    max-width: 537px;
}

.hero-content__bottom {
    display: flex;
    gap: 10px;
    max-width: 539px;

}

.hero_content__score-title {
    font-weight: 700;
    font-size: 22px;
    color: var(--color-primary);
}

.stat_info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.hero_content__score {
    margin-top: 24px;
}

.hero_content__score p {
    font-weight: 500;
    font-size: 18px;
}

.stat-info {
    padding: 35px 15px 17px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12.69px 0px #00000012;
    display: flex;
    flex-direction: column;
    position: relative;

}

.stat_info-wrapper .btn {
    height: auto;
    align-items: end;
    position: relative;
}

.stat_info-wrapper .btn::after {
    position: absolute;
    top: 14px;
    right: 14px;
}

.stat-info__count {
    font-weight: 700;
    font-size: 29px;
    color: var(--color-primary);
}

.stat-info__title {
    font-weight: 500;
    font-size: 12px;
}

.stat-info__icon {
    position: absolute;
    top: 18px;
    left: 15px;
}

.users__img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    border-radius: 100px;
    margin-left: -8px;
}

.users__img:first-child {
    margin: 0;
}

.users_wrapper {
    display: flex;
}

.checkout-section {
    padding: 35px 0;
    position: relative;
    z-index: 1;
}

.checkout-section::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('../images/bg/1.svg') 50% 0% / cover no-repeat;
}

.checkout-container {
    display: grid;
    grid-template-columns: 1fr 0.383fr 0.458fr 0.351fr;
    grid-template-rows: auto 256px;
    gap: 20px;
}

.checkout-block {
    padding: 16px 20px;
    border-radius: 25px;
    color: #FFFFFF;

    min-width: 175px;
}

.checkout-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-row: 1;
    grid-column: 1;
}

.checkout-info p {
    max-width: 401px;
    font-weight: 500;
}


.checkout-block.block_why {
    grid-row: 2;
    grid-column: 1;
    margin-top: 20px;

    max-width: 501px;
    background: url('../images/checkout/1.png') 50% / cover no-repeat;
}

.checkout-block.block_step {
    max-width: 192px;
    padding-right: 10px;
    width: 100%;
    grid-row: 1 / 3;
    grid-column: 2;
    background: url('../images/checkout/2.png') 50% / cover no-repeat;

}



.checkout-block.block_child {
    grid-column: 3 / 5;
    background: url('../images/checkout/3.png') 50% / cover no-repeat;

}

.checkout-block.block_alarm {
    background: url('../images/checkout/4.png') 50% / cover no-repeat;

}

.checkout-block.block_succes {
    background: url('../images/checkout/5.png') 50% / cover no-repeat;

}

.checkout-block_info {
    max-width: 246px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.checkout-block_info h3 {
    font-weight: 700;
    font-size: 23px;
}

.checkout-block_info h4 {
    font-weight: 600;
    font-size: 18px;
}

.checkout-block_info p {
    font-size: 14px;
}

.checkout-hint {
    padding: 0 10px;
    margin-top: 19px;
    text-align: center;
    font-size: 14px;
    color: #CCA8FF;
    display: block;
}

.section-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-width: 740px;
}

.question-section {
    padding-top: 44px;
    padding-bottom: 34px;
    background: #FAF6FF;
    position: relative;
    z-index: 1;
}

.question-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 320px;
    z-index: -1;
    background: url('../images/bg/2.svg')50% / cover;
}

.section-info p {
    max-width: 560px;
    font-size: 20px;
    font-weight: 500;
}

.section-info h2 {
    color: #2B2B2B;
    font-size: 35px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.question-item_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 20px;
}

.question-item {
    border-radius: 16px;
    background: #FFFFFF17;
    box-shadow: 0px 0px 17px 0px #00000012;
    display: flex;
    position: relative;
    padding-right: 200px;
    width: 100%;
    z-index: 1;

}

.question-item_info {
    padding: 45px 0 20px 43px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.question-item_img-wrapper {
    position: absolute;
    height: auto;
    max-width: 285px;
    top: -20px;
    z-index: -1;
    bottom: 0;
    right: 0;

}

.question-item_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.question-item h3 {
    font-size: 20px;
    color: var(--color-primary);
    font-weight: 600;
    line-height: 110%;
    position: relative;
}

.question-item p {
    max-width: 296px;
}

.question-item h3::before {
    content: '';
    position: absolute;
    left: -23px;
    top: 5px;
    width: 13px;
    height: 13px;
    background: url('../images/icons/Polygon_1.svg') 50% / contain no-repeat;
}

.section-expert {
    padding: 35px 0;
    position: relative;
}

.section-expert::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background: url("../images/bg/3.svg") 50% 0% / cover;
}

.expert-info {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: relative;
}

.expert-info::after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: -210px;
    right: -135px;
    background: url('../images/expert_img.png') 50% / contain no-repeat;
    aspect-ratio: 1 / 0.668;
}

.expert-info h2 {
    font-size: 45px;
}

.expert-info p {
    font-weight: 500;
    font-size: 23px;
}

.flex-row {
    display: flex;
    gap: 20px;
}

.expert-items-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.expert-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.expert-item {
    padding: 20px;
    border-radius: 16px;
    background: #FFFFFF17;
    box-shadow: 0px 0px 17px 0px #00000012;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.expert-item_top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    align-items: center;
}

.expert-item_name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
}

.expert-item_name span:last-child {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.expert-item_img {
    max-width: 79px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    width: 100%;
}

.expert-item_info {
    font-size: 12px;
    max-width: 144px;
}

.expert-item_desc {
    font-weight: 500;
    font-size: 14px;
    flex-grow: 2;
}

.expert-item_bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    font-size: 12px;
}

.expert-item_bottom span {
    width: fit-content;
}

.expert-bottom-hint {
    padding: 20px 49px 20px 20px;
    border-radius: 16px;
    background: #F2E9FF;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
}

.expert-bottom-hint h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 6px;
}

.expert-bottom-hint_text {
    font-size: 12px;
    color: #919092;
    margin-top: 14px;
}

.section-reviews {
    padding: 35px 0;
    background: #FAF6FF;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.section-reviews .flex-column {
    gap: 30px;
}

.section-reviews::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
    background: url('../images/bg/4.svg') 50% / cover no-repeat;
}

.section-reviews .section-info_center h2 {
    color: #2B2B2B;
    font-size: 32px;
}

.section-info_center {
    text-align: center;
}

.section-info_center p {
    font-size: 20px;
    font-weight: 500;
}

.reviews-hint {
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    background: #F2E9FF;
    position: relative;
    z-index: 2;
    width: fit-content;
}

.reviews-hint .stat-info__icon {
    position: static;
}

.reviews-hint:not(.swiper-slide) {
    display: none;
}

.reviews-hint .stat-info__icon .users__img {
    width: 36px;
    height: 36px;
    margin-left: -16px;
}

.reviews-hint .stat-info__icon .users__img:first-child {
    margin: 0;
}

.reviews-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.reviews-hint__text {
    display: flex;
    flex-direction: column;
    max-width: 214px;
}

.reviews-hint__text span:first-child {
    font-weight: 700;
    font-size: 40px;
    color: #9D63EA;
    line-height: 100%;
}

.review-item {
    padding: 20px;
    background: #FFFFFF17;
    border-radius: 16px;
    box-shadow: 0px 0px 17px 0px #00000012;
    display: flex;
    flex-direction: column;
    gap: 13px;
    max-width: 360px;
    width: 100%;
}

.review-item_img {
    width: 48px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    margin-bottom: 3px;
}

.review-item_top {
    display: flex;
    align-items: end;
    gap: 10px;
}

.review-item_info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.review-item_info span:first-child {
    font-size: 16px;
    font-weight: 700;
}

.reviews-swiper {
    overflow: visible;
}

.section-banner {
    padding: 30px 0;
}

.banner {
    border-radius: 26px;
    padding: 28px;
    background: #F2E9FF;
    position: relative;

}

.banner_img {
    height: 100%;
    object-fit: contain;
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: -30px;
    left: -90px;
    bottom: 0;
    z-index: 0;
}

.banner-info {
    max-width: 570px;
    margin-left: auto;
    width: 55%;
    padding: 20px;
    border-radius: 24px;
    background: #FFFFFF;
    position: relative;
    z-index: 1;

}

.banner h2 {
    font-size: 27px;
    color: #2B2B2B;
}

.banner p {
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}

.banner_price-wrapper {
    border-radius: 13px;
    padding: 20px;
    background: #FFFFFF17;
    box-shadow: 0px 0px 17px 0px #00000012;
    margin-top: 25px;

}

.banner_price__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_price {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.banner_price__new {
    font-size: 30px;
    color: var(--color-primary);
    font-weight: 700;
    line-height: 100%;
}

.banner_price__old {
    color: #ADADAD;
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
}

.banner_price__top-title {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner_price__top-title::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: url('../images/icons/Radiobutton.svg') 50% / contain no-repeat;
}

.banner-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.banner-list li {
    display: flex;
    gap: 10px;
    align-items: center;

}

.banner-list li::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url('../images/icons/Done.svg') 50% / contain no-repeat;

}

.banner .btn {
    height: 40px;
    margin-top: 10px;
}

.faq-info {
    max-width: 367px;
    position: relative;
}

.section-faq::before {
    position: absolute;
    content: '';

    width: 30vw;
    height: 100%;
    min-width: 438px;
    left: -10px;
    background: url('../images/faq.png') 0% 100% / contain no-repeat;
    bottom: 0;
}

.faq-info h2 {
    font-size: 32px;
}

.faq-info p {
    max-width: 269px;
    font-weight: 500;
    font-size: 20px;
}

.section-faq {
    padding: 30px 0;
    position: relative;
    z-index: 1;
}

.section-faq::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 700px;
    z-index: -1;
    background: url('../images/bg/5.svg') 50% / cover no-repeat;
}

.faq-item {
    padding: 17px 0;
    border-top: 1px solid #CCA8FF;
    cursor: pointer;
}

.faq-items-container {
    max-width: 737px;
    margin-left: auto;
}

.faq-item_top {
    font-weight: 600;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.faq-item_top::after {
    display: block;
    content: '';
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    transition: transform .3s ease;
    background: url('../images/icons/Tread_medium.svg') 50% / contain no-repeat;
}

.faq-item_hidden {
    max-height: 0;
    opacity: 0;
    transition: max-height .6s ease, margin .3s ease, opacity .3s ease;
    overflow: hidden;
    max-width: 662px;
    font-weight: 500;
    font-size: 16px;
}

.faq-item.open .faq-item_hidden {
    max-height: 500px;
    margin-top: 11px;
    opacity: 1;
}

.faq-item.open .faq-item_top::after {
    transform: scale(1, -1);
}

.banner_color {
    padding: 34px 0;
    background-color: var(--color-primary);
    color: #ffffff;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.banner_color h2 {
    color: #ffffff;
    font-size: 35px;

}

.banner_color p {
    font-weight: 500;
    font-size: 20px;
}

.banner_color_info {
    max-width: 682px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: auto;
    width: 60%;
}

.banner_color::after {
    content: '';
    position: absolute;
    max-width: 550px;
    width: 45%;

    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    background: url('../images/banner/2_desc.png') 100% 50% / cover no-repeat;
}

.banner_color_info .btn {
    margin-top: 20px;
}
.footer {
    padding: 30px 0;
    padding-top: 52px;
    background: #F2EAFE;

}
.footer-logo {
    display: block;
    width: 200px;
    height: 87px;
    background: url('../images/logo2.svg') 50% / contain no-repeat;
}
.footer_nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_nav-item {
    font-weight: 500;
    font-size: 14px;
    width: fit-content;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.footer_nav-item:hover {
    color: var(--color-primary-hover);
}
.footer_about {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 10px;
    max-width: 435px;
}
.footer_about span:last-child {
    font-weight: 600;
    margin-top: 8px;
}
.footer_politic {
    padding: 13px 10px 0;
    border-top: 1px solid #C7C7C7;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    color: #C7C7C7;
    font-weight: 500;
    font-size: 12px;
}
.footer_politic span:first-child {
    font-weight: 700;
}
@media (max-width:1210px) {
    .container {
        padding: 0 20px;
    }

    .checkout-container {
        gap: 10px;
    }

    .hero-img {
        position: absolute;
        top: 80px;
        bottom: 30px;
        right: 54.5%;
        z-index: -1;
        width: auto;
        aspect-ratio: 1 / 0.93;
        background: url(../images/hero_bg.png) 50% / contain no-repeat;
    }
}

@media (max-width:1130px) {
    .header-nav {
        display: none;
    }





}

@media (max-width: 1000px) {
    .hero-img {
        display: none;
    }

    .hero-content {
        margin: 0;
        max-width: none;
        width: auto;
        align-items: center;
    }

    .hero-content__info {
        text-align: center;
        align-items: center;
        max-width: 800px;
    }

    .checkout-container {
        display: grid;
        grid-template-columns: 1fr 0.638fr;
        /* grid-template-rows: auto 1fr 0.592fr 0.866fr  1.16fr; */
        grid-template-rows: repeat(5, auto);
        /* max-width: 600px; */
    }

    .checkout-info {
        grid-row: 1;
        grid-column: 1 / 3;
        margin-bottom: 32px;

    }

    .checkout-block.block_why {
        grid-row: 2;
        grid-column: 1;
        margin: 0;
        max-width: none;
        aspect-ratio: 1 / 0.466;
    }

    .checkout-block.block_step {
        grid-row: 2 / 4;
        grid-column: 2;
        max-width: none;
        aspect-ratio: 1 / 1.79;

    }

    .checkout-block.block_child {
        grid-column: 1;
        grid-row: 5;
        aspect-ratio: 1 / 0.4;
    }

    .checkout-block.block_alarm {
        grid-column: 1;
        grid-row: 3/5;
        /* aspect-ratio: 1 / 1.105; */

    }

    .checkout-block.block_succes {
        grid-column: 2;
        grid-row: 4 / 6;
        aspect-ratio: 1 / 1.469;
    }

    .question-item br {
        display: none;
    }

    .question-item h3 {
        font-size: 16px;
    }

    .question-item_info {
        padding: 25px 0 16px 43px;
    }

    .question-item_container {
        gap: 20px 10px;
    }

    .question-item {
        padding-right: 150px;
    }

    .question-item_img-wrapper {
        max-width: 150px;
    }

    .question-item p {
        font-size: 14px;
    }

    .section-info h2 {
        color: #2B2B2B;
        font-size: 24px;
    }

    .section-info p {
        font-size: 16px;
    }

    .flex-column {
        gap: 20px;
    }

    .expert-items {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .expert-bottom-hint {
        grid-row: 1;
        grid-column: 1;
    }

    .flex-row {
        flex-direction: column;
    }

    .expert-info {
        position: static;
        max-width: none;
    }

    .section-expert {
        padding-bottom: 58vw;
    }

    .expert-info::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        aspect-ratio: 1 / 0.668;
    }

    .expert-info h2 {
        font-size: 27px;
    }

    .expert-info p {
        font-size: 14px;
    }

    .expert-item,
    .expert-bottom-hint {
        padding: 16px;
    }

    .expert-item br {
        display: none;
    }

    .expert-item {
        gap: 10px;
    }

    .expert-bottom-hint p:not(.expert-bottom-hint_text) {
        flex-grow: 2;
    }

    .section-reviews .section-info_center {
        text-align: start;
        width: 50%;
        min-height: 100px;
    }

    .reviews-hint {
        position: absolute;
        top: 30px;
        right: 10px;
        max-width: 45%;
        padding: 10px;
        display: block;
    }

    .reviews-hint:not(.swiper-slide) {
        display: block;
    }

    .reviews-hint.swiper-slide {
        display: none;
    }

    .reviews-hint .stat-info__icon .users__img {
        width: 24px;
        height: 24px;
        margin-left: -8px;
    }

    .reviews-hint__text {
        font-size: 14px;
    }

    .reviews-hint__text span:first-child {
        font-size: 20px;
        line-height: 100%;
    }

    .banner {
        margin-top: 250px;
    }

    .section-banner {
        overflow: hidden;

    }

    .banner-info {
        width: 100%;
        max-width: none;
    }

    .banner_img {
        transform: scale(-1, 1);
        bottom: calc(100% - 30px);
        width: auto;
        top: auto;
        left: auto;
        right: 0;
        height: 300px;
    }

    .section-faq::before {
        position: absolute;
        content: '';
        max-width: 300px;
        width: 100%;
        min-width: auto;
        aspect-ratio: 1 / 0.66;
        height: auto;
        transform: scale(-1, 1);
        left: auto;
        right: 0;
        top: 0;
        bottom: auto;
        z-index: -1;
    }

    .faq-items-container {
        max-width: none;
        margin: 0;
    }

    .banner_color h2 {
        font-size: 24px;
    }

    .banner_color p {
        font-size: 16px;
    }
}

@media (max-width: 750px) {
    .container {
        padding: 0 10px;
    }

    h2 {
        font-size: 20px;
    }

    .logo {
        max-width: 312px;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 0.102;
        flex-shrink: 2;
    }

    .header {
        padding: 8px 0;
    }

    .header-container {
        gap: 10px;
    }

    .hero {
        padding-top: 80px;
    }


    .hero-content__info {
        text-align: center;
        max-width: 600px;

    }

    .hero-content__info p {
        max-width: 350px;
    }

    .stat_info-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .stat_info-wrapper .btn {
        grid-column: 1 / 3;
    }

    .stat_info-wrapper .btn::after {
        position: static;
    }

    h1 {
        font-size: 28px;
    }

    .hero-content__info {
        gap: 6px;
    }

    .hero-text {
        font-size: 14px;
        max-width: none;
    }

    .hero-content__bottom {
        width: auto;
        margin: 0 auto;
    }

    .stat_info-wrapper {
        display: grid;
        max-width: none;
        width: auto;
    }

    .hero-content__bottom .btn {
        height: 48px;
        padding: 15px;
        padding-right: 9px;
        font-weight: 600;
    }

    .hero-content__bottom .btn::after {
        display: flex;
    }

    .checkout-block_info h3 {
        font-size: 18px;
    }

    .checkout-block_info h4 {
        font-size: 16px;
    }

    .checkout-container {
        gap: 6px;
    }

    .checkout-block {
        padding: 10px;
        border-radius: 16px;
        min-width: 10px;
    }

    .question-item_container {
        grid-template-columns: 1fr;
    }

    .section-reviews .section-info_center h2 {
        font-size: 24px;
    }

    .section-info_center p {
        font-size: 16px;
    }

    .section-reviews .flex-column {
        gap: 20px;
    }

    .review-item_img {
        width: 38px;
    }

    .review-item__text {
        font-size: 14px;
    }

    .hero_content__score {
        position: relative;
    }

    .hero_content__score::before {
        position: absolute;
        content: '';
        z-index: -1;
        top: -20px;
        left: -30px;
        right: -30px;
        background-color: #ffffff;
        bottom: 0;
    }

    .banner {
        padding: 12px;
        border-radius: 16px;
    }

    .banner-info {
        padding: 10px;
        border-radius: 14px;
    }

    .banner {
        margin-top: 150px;
    }

    .banner_img {
        transform: scale(-1, 1);
        bottom: calc(100% - 10px);
        width: auto;
        top: auto;
        left: auto;
        right: 0;
        height: 180px;
    }

    .banner h2 {
        font-size: 20px;
    }

    .banner_price-wrapper {
        margin-top: 16px;
        padding: 14px;
    }

    .banner_price {
        text-wrap: nowrap;
    }

    .banner_price__new {
        font-size: 24px;
    }

    .faq-info h2 {
        font-size: 24px;
    }

    .faq-info {
        min-height: 130px;
    }

    .faq-info p {
        font-size: 16px;
    }

    .section-faq::before {
        top: -20px;
    }

    .faq-item_top {
        font-size: 18px;
    }

    .faq-item_hidden {
        font-size: 14px;
    }

    .banner_color_info {
        width: 100%;
        max-width: none;
        align-items: center;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }

    .banner_color {
        padding-top: 300px;
    }

    .banner_color::after {
        content: '';
        position: absolute;
        max-width: none;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1.5;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: auto;
        background: url("../images/banner/2.png") 40% 0%/ cover no-repeat;
    }

    .banner_color::before {
        content: '';
        position: absolute;
        max-width: none;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1.5;
        z-index: 0;
        top: 150px;
        left: 0;
        bottom: auto;
        background: linear-gradient(180deg, rgba(157, 99, 234, 0) 0%, #9D63EA 30%);

    }

    .banner_color_info {
        z-index: 1;
        position: relative;
    }
}
@media (max-width: 630px) {
    .footer-logo {
        margin: 0 auto;
    }
    .footer-container {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
    .footer_nav {
        text-align: center;
        align-items: center;
       width: 100%;
    }
}
@media (max-width: 500px) {
    .section-faq::before {
        top: 50px;
        max-width: 180px;

    }

    .faq-info {
        padding-right: 180px;
        max-width: none;
    }

    .faq-item {
        padding: 10px 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 14px;
    }

    .hero br {
        display: none;
    }


    h1 {
        font-size: 24px;
    }

    .checkout-block {
        padding: 8px;
    }

    .checkout-block_info h3 {
        font-size: 12px;
    }

    .checkout-block_info h4 {
        font-size: 11px;
    }

    .checkout-block_info p {
        font-size: 9px;
    }

    .question-item h3::before {
        left: -19px;
        top: 5px;
        width: 9px;
        height: 9px;
    }

    .question-item_info {
        padding: 16px 0 16px 28px;
    }

    .question-item {
        padding-right: 120px;
    }

    .question-item_img-wrapper {
        max-width: 120px;
    }

    .question-item h3 {
        font-size: 12px;
    }

    .question-item p {
        font-size: 11px;
    }

    .section-info h2 {
        font-size: 18px;
    }

    .section-info p {
        font-size: 14px;
    }

    .expert-items {
        grid-template-columns: 1fr;
    }

    .section-reviews .section-info_center {
        width: auto;
        min-height: auto;
    }

    .reviews-hint {
        position: static;
        max-width: none;
        width: 100%;
    }

    .reviews-container {
        grid-template-columns: 1fr;
    }

    .reviews-swiper {
        overflow: hidden;
        padding: 20px 10px;
        width: 100%;
    }

    .stat-info__count {
        font-size: 20px;
    }

    .hero-content__bottom .btn {
        height: 40px;
        padding: 0 8px;
        align-items: center;
    }

    .hero_content__score-title {
        font-size: 18px;
    }

    .hero_content__score p {
        font-size: 16px;
    }
}