@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

:root {
    --color-primary: #9D63EA;
    --color-primary-hover: #8831fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s ease;
}

html {
    font-family: 'Montserrat';
    color: #2B2B2B;
}

h1,
h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-primary);

}

h1 {
    font-size: 38px;

}

h2 {
    font-size: 27px;
}

.container {
    padding: 0 60px;
    max-width: calc(1160px + (60px * 2));
    width: 100%;
    margin: 0 auto;

}

.header .btn {
    text-wrap: nowrap;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    height: 37px;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: background-color .3s ease, color .3s ease;
    border-radius: 10px;
}

.btn-size-l {
    width: 100%;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 15px;
    padding-right: 9px;
}

.btn-size-l::after {
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    background: url('../images/icons/Arrow-rigth.svg') 50% / contain no-repeat;
}

.btn-primary {
    color: #F5F7FA;
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.header {
    padding: 17px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 0px #00000021;


}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    width: 312px;
    display: block;
    height: 32px;
    background: url('../images/logo.svg') 50% / contain no-repeat;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav__item {
    font-weight: 500;
    font-size: 14px;
    padding-right: 10px;
    position: relative;
}

.header-nav__item:hover {
    color: var(--color-primary);
}

.header-nav__item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 4px;
    bottom: 4px;
    width: 1px;
    background-color: #2B2B2B;
}

.header-nav__item:last-child {
    padding-right: 0;
}

.header-nav__item:last-child:after {
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 52px;
}

.hero {
    padding-top: 129px;
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    height: 73%;
    z-index: -5;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(0deg, #F2E9FF, #F2E9FF);

}

.hero-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    z-index: -1;
    width: 50%;
    max-width: 750px;

    background: url('../images/hero_bg.png')100% 70% / cover no-repeat;
}

.hero-content {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-left: auto;
}

.hero-content__info {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.hero-text {
    font-weight: 500;
    font-size: 18px;
    max-width: 485px;
}

.hero-content__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 353px;

}

.stat_info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.stat-info {
    padding: 35px 15px 17px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12.69px 0px #00000012;
    display: flex;
    flex-direction: column;
    position: relative;

}

.stat-info__count {
    font-weight: 700;
    font-size: 29px;
    color: var(--color-primary);
}

.stat-info__title {
    font-weight: 500;
    font-size: 12px;
}

.stat-info__icon {
    position: absolute;
    top: 18px;
    left: 15px;
}

.users__img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    border-radius: 100px;
    margin-left: -8px;
}

.users__img:first-child {
    margin: 0;
}

.users_wrapper {
    display: flex;
}

.checkout-section {
    padding: 35px 0;
    position: relative;
    z-index: 1;
}

.checkout-section::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('../images/bg/1.svg') 50% 0% / cover no-repeat;
}

.checkout-container {
    display: grid;
    grid-template-columns: 1fr 0.383fr 0.458fr 0.351fr;
    grid-template-rows: auto 256px;
    gap: 20px;
}

.checkout-block {
    padding: 16px 20px;
    border-radius: 25px;
    color: #FFFFFF;

    min-width: 175px;
}

.checkout-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-row: 1;
    grid-column: 1;
}

.checkout-info p {
    max-width: 401px;
    font-weight: 500;
}


.checkout-block.block_why {
    grid-row: 2;
    grid-column: 1;
    margin-top: 20px;

    max-width: 501px;
    background: url('../images/checkout/1.png') 50% / cover no-repeat;
}

.checkout-block.block_step {
    max-width: 192px;
    padding-right: 10px;
    width: 100%;
    grid-row: 1 / 3;
    grid-column: 2;
    background: url('../images/checkout/2.png') 50% / cover no-repeat;

}



.checkout-block.block_child {
    grid-column: 3 / 5;
    background: url('../images/checkout/3.png') 50% / cover no-repeat;

}

.checkout-block.block_alarm {
    background: url('../images/checkout/4.png') 50% / cover no-repeat;

}

.checkout-block.block_succes {
    background: url('../images/checkout/5.png') 50% / cover no-repeat;

}

.checkout-block_info {
    max-width: 246px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.checkout-block_info h3 {
    font-weight: 700;
    font-size: 23px;
}

.checkout-block_info h4 {
    font-weight: 600;
    font-size: 18px;
}

.checkout-block_info p {
    font-size: 14px;
}

.checkout-hint {
    padding: 0 10px;
    margin-top: 19px;
    text-align: center;
    font-size: 14px;
    color: #CCA8FF;
    display: block;
}

.section-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-width: 740px;
}

.question-section {
    padding-top: 44px;
    padding-bottom: 34px;
    background: #FAF6FF;
    position: relative;
    z-index: 1;
}
.question-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 320px;
    z-index: -1;
    background: url('../images/bg/2.svg')50% / cover;
}
.section-info p {
    max-width: 560px;
    font-size: 20px;
    font-weight: 500;
}

.section-info h2 {
    color: #2B2B2B;
    font-size: 35px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.question-item_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 20px;
}

.question-item {
    border-radius: 16px;
    background: #FFFFFF17;
    box-shadow: 0px 0px 17px 0px #00000012;
    display: flex;
    position: relative;
    padding-right: 200px;
    width: 100%;
    z-index: 1;

}

.question-item_info {
    padding: 45px 0 20px 43px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.question-item_img-wrapper {
    position: absolute;
    height: auto;
    max-width: 220px;
    top: -20px;
    z-index: -1;
    bottom: 0;
    right: 0;

}

.question-item_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.question-item h3 {
    font-size: 20px;
    color: var(--color-primary);
    font-weight: 600;
    line-height: 110%;
    position: relative;
}

.question-item p {
    max-width: 296px;
}

.question-item h3::before {
    content: '';
    position: absolute;
    left: -23px;
    top: 5px;
    width: 13px;
    height: 13px;
    background: url('../images/icons/Polygon_1.svg') 50% / contain no-repeat;
}
.section-expert {
    padding: 35px 0;
}
@media (max-width:1210px) {
    .container {
        padding: 0 20px;
    }

    .checkout-container {
        gap: 10px;
    }
}

@media (max-width:1130px) {
    .header-nav {
        display: none;
    }

    .hero {
        padding-top: 470px;
    }

    .hero::before {
        height: 100%;
    }

    .hero-img {
        height: 500px;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        top: 0;
        width: 100%;
        max-width: 650px;
        background: url(../images/hero_bg.png) 50% 100% / cover no-repeat;
    }

    .hero-img::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background: linear-gradient(180deg, rgba(242, 233, 255, 0) -24.32%, #F2E9FF 57%);

    }

    .hero-content {

        flex-direction: row;
        max-width: none;
        gap: 29px;
        margin: 0 auto;
        width: fit-content;
    }

    .stat_info-wrapper,
    .hero-content__bottom {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 219px;
    }

    .hero-content__info {
        max-width: 580px;
    }

    .stat_info-wrapper {
        flex-direction: column-reverse;
    }

    .hero-content__bottom .btn {
        height: auto;
        padding: 20px;
        font-weight: 600;
    }

    .hero-content__bottom .btn::after {
        display: none;
    }
}

@media (max-width: 1000px) {
    .checkout-container {
        display: grid;
        grid-template-columns: 1fr 0.638fr;
        /* grid-template-rows: auto 1fr 0.592fr 0.866fr  1.16fr; */
        grid-template-rows: repeat(5, auto);
        /* max-width: 600px; */
    }

    .checkout-info {
        grid-row: 1;
        grid-column: 1 / 3;
        margin-bottom: 32px;

    }

    .checkout-block.block_why {
        grid-row: 2;
        grid-column: 1;
        margin: 0;
        max-width: none;
        aspect-ratio: 1 / 0.466;
    }

    .checkout-block.block_step {
        grid-row: 2 / 4;
        grid-column: 2;
        max-width: none;
        aspect-ratio: 1 / 1.79;

    }

    .checkout-block.block_child {
        grid-column: 1;
        grid-row: 5;
        aspect-ratio: 1 / 0.4;
    }

    .checkout-block.block_alarm {
        grid-column: 1;
        grid-row: 3/5;
        /* aspect-ratio: 1 / 1.105; */

    }

    .checkout-block.block_succes {
        grid-column: 2;
        grid-row: 4 / 6;
        aspect-ratio: 1 / 1.469;
    }

    .question-item br {
        display: none;
    }

    .question-item h3 {
        font-size: 16px;
    }

    .question-item_info {
        padding: 25px 0 16px 43px;
    }

    .question-item_container {
        gap: 20px 10px;
    }

    .question-item {
        padding-right: 150px;
    }

    .question-item_img-wrapper {
        max-width: 150px;
    }

    .question-item p {
        font-size: 14px;
    }

    .section-info h2 {
        color: #2B2B2B;
        font-size: 24px;
    }

    .section-info p {
        font-size: 16px;
    }
    .flex-column {
        gap: 20px;
    }
}

@media (max-width: 750px) {
    .container {
        padding: 0 10px;
    }

    h2 {
        font-size: 20px;
    }

    .logo {
        max-width: 312px;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 0.102;
        flex-shrink: 2;
    }

    .header {
        padding: 8px 0;
    }

    .header-container {
        gap: 10px;
    }

    .hero {
        padding-top: 0;
    }

    .hero-img {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        width: 100%;
        max-width: none;
        transform: none;
        height: auto;
        aspect-ratio: 1 / 0.73;
        min-height: 260px;
    }

    .hero-content__info {
        text-align: center;

    }

    .hero-img::after {

        height: 11.7%;
    }

    .hero-content {
        flex-direction: column;
    }

    h1 {
        font-size: 28px;
    }

    .hero-content__info {
        gap: 6px;
    }

    .hero-text {
        font-size: 14px;
        max-width: none;
    }

    .hero-content__bottom {
        width: auto;
        margin: 0 auto;
    }

    .stat_info-wrapper {
        display: grid;
        max-width: none;
        width: auto;
    }

    .hero-content__bottom .btn {
        height: 48px;
        padding: 15px;
        padding-right: 9px;
        font-weight: 600;
    }

    .hero-content__bottom .btn::after {
        display: flex;
    }

    .checkout-block_info h3 {
        font-size: 18px;
    }

    .checkout-block_info h4 {
        font-size: 16px;
    }

    .checkout-container {
        gap: 6px;
    }

    .checkout-block {
        padding: 10px;
        border-radius: 16px;
        min-width: 10px;
    }

    .question-item_container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 14px;
    }

    .stat_info-wrapper {
        display: flex;
    }

    .hero br {
        display: none;
    }

    .hero-content__bottom {
        max-width: none;
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    .checkout-block {
        padding: 8px;
    }

    .checkout-block_info h3 {
        font-size: 12px;
    }

    .checkout-block_info h4 {
        font-size: 11px;
    }

    .checkout-block_info p {
        font-size: 9px;
    }

    .question-item h3::before {
        left: -19px;
        top: 5px;
        width: 9px;
        height: 9px;
    }

    .question-item_info {
        padding: 16px 0 16px 28px;
    }

    .question-item {
        padding-right: 120px;
    }

    .question-item_img-wrapper {
        max-width: 120px;
    }

    .question-item h3 {
        font-size: 12px;
    }

    .question-item p {
        font-size: 11px;
    }
        .section-info h2 {
        font-size: 18px;
    }
        .section-info p {
        font-size: 14px;
    }
}